<mat-accordion [multi]="true" [hideToggle]="true" class="scrollbar-box scrollbar-box-chrome">
    <mat-expansion-panel [expanded]="false" [disabled]="true">

        <mat-expansion-panel-header [expandedHeight]="'45px'" style="background: rgba(168, 177, 189, 0.3); width: 100%; margin-left: -25px;">
            <mat-panel-title id="menu-groups-tabs">
                <div class="menu-name">
                    <a *ngFor="let tab of tabs" class="button" (click)="onTabClick(tab)" [ngClass]="{'dark': _currentMenu == tab}">{{tab}}</a>
                </div>
            </mat-panel-title>
        </mat-expansion-panel-header>
    </mat-expansion-panel>
</mat-accordion>