<mat-accordion [multi]="true" [hideToggle]="true" class="scrollbar-box scrollbar-box-chrome">
    <mat-expansion-panel [expanded]="false" [disabled]="true">

        <mat-expansion-panel-header [expandedHeight]="'45px'" style="background: rgba(168, 177, 189, 0.3); width: 130%; margin-left: -25px;">
            <mat-panel-title>
                <div class="menu-name">
                    <a class="button" (click)="menu1()" [ngClass]="{'dark': this._currentMenu === 1}">Mapas</a>
                    <a class="button" (click)="menu2()" [ngClass]="{'dark': this._currentMenu === 2}">Legenda</a> 
                </div>
            </mat-panel-title>
            
        </mat-expansion-panel-header>

    </mat-expansion-panel>
</mat-accordion>