inventory_backend/django/staticfiles
env/
*.swp
*node_modules
*package-lock.json
map-frontend/src/index.html
map-frontend/package-lock.json
docker-up.sh
up*
run*
restart*
inventory_backend/django/staticfiles/admin/css/base.css
up.bat
backups/*.dump
*.DS_Store
dump_2024-08-14_11_25_41.sql
.gitignore
dump_2024-08-15_17_15_20.sql
