<div id="overlayed-popup-container" #overlayed_popup_conteiner class="hidden">
    <div id="fade-background"></div>
    <div id="overlayed-popup">
        <button type="button" id="opp-close-button" class="corner-button" (click)="this.desactivate()"><i class="fa fa-close"></i></button>
        <a id="newtab-button" #newtab_button class="corner-button" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" target="_blank"><i class="fa fa-external-link"></i></a>
        
        <div class="overlayed-popup-title">
            <p id = "opp-title" #opp_title></p>
            <hr>  
        </div>    
        <div class="overlayed-popup-content">
            <div id = "opp-content" #opp_content></div>
        </div>
        <!-- <app-sub-map [locations]="locations" [tags]="tags" [getLocationById]="getLocationById" [getTagById]="getTagById"></app-sub-map> -->
        <app-sub-map [externalDataManager]="externalDataManager" [atlasIconBuilder]="atlasIconBuilder" [isActive]="isActive" (pushLocationTitleEvent)="receiveTitleForPushing($event)"></app-sub-map>
        <!-- <app-sub-map [locations]="locations" [tags]="tags" [getLocationByName]="getLocationByName" [getTagById]="getTagById" [atlasIconBuilder]="atlasIconBuilder"></app-sub-map> -->
        
    </div>
    <app-atlas-icon-builder [externalDataManager]="externalDataManager"></app-atlas-icon-builder>
</div>
