{% extends "admin/index.html" %}
{% load importer_tags %}


{% block sidebar %}
{{ block.super }}
{% if 'AVAILABLE_IMPORTS'|env == 'infradpdi' %}
<div class="background-no-go" id="bg"></div>
<div class="spinner" id="spinner"></div>
<div class="spinner-text" id="text">Loading, please wait...</div>
<div class="app-administration module">
    <table>
        <caption>
            <a class="section" title="Import data from an API">Import data</a>
        </caption>
        <tbody>
            <tr class="model-menu">
                <th scope="row"><a href="/import/netbox/" onclick="showSpinner()">Import data from Netbox</a></th>
                <td><a href="/import/netbox/" class="addlink" onclick="showSpinner()">Import</a></td>
            </tr>
        </tbody>
    </table>
</div>
<script>
    function showSpinner(){
        document.getElementById('text').style.display = 'block';
        document.getElementById('bg').style.display = 'block';
        document.getElementById('spinner').style.display = 'block';
    }
</script>
<style>
    .spinner {
        display: none;
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 2;
        width: 75px;
        height: 75px;
        margin: -30px 0 0 -30px;
        border: 10px solid #f3f3f3;
        border-radius: 50%;
        border-top: 10px solid #3498db;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

    .spinner-text {
        display: none;
        position: absolute;
        top: 60%;
        left: 45%;
        width: 500px;
        height: 100px;
        z-index: 3;
        font-size: 25px;
    }

    .background-no-go {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: rgba(193, 193, 193, 0.7);
    }

    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
</style>
{% endif %}
{% endblock %}