#footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  /* Fundo preto com 50% de transparência */
  text-align: center;
  padding: 10px 0px 10px 40px;
  /* Padding para dar espaço ao botão */
  font-size: 12px;
  /* Texto menor */
  color: white;
  /* Texto em branco */
  border-top: 1px solid #ddd;
  border-radius: 8px;
  /* Bordas arredondadas para um visual mais agradável */
  display: inline-block;
  max-width: calc(100% - 20px);
  /* Para garantir que não ultrapasse a largura da tela */
  box-sizing: border-box;
  /* Inclui padding na largura total */
  z-index: 10001 !important;
}

#close-button {
  position: absolute;
  right: 5px;
  /* Alinhamento à direita */
  top: 50%;
  transform: translateY(-50%);
  /* Centraliza verticalmente */
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  z-index: 10002 !important;
}

#footer-text {
  padding-right: 45px;
  padding-left: 10px;
  /* Padding para evitar sobreposição com o botão */
}

@media (max-width: 978px) {
  #footer {
    left: -45%;
    transform: translateX(55%);
    max-width: 90%;
    padding: 3px 0px 3px 0px;
  }

  #close-button {
    font-size: 10 px;
    /* Botão menor para telas pequenas *    width: 100%;/
    right: 5px;
    /* Ajuste de posição para telas pequenas */
  }

  #footer-text {
    padding-right: 25px;
    /* Ajuste de padding para evitar sobreposição */
  }

  #stakeholders-frame {
    bottom: 34px !important;
  }

  #logos {
    height: 25px;
}
}

#stakeholders-frame {
  z-index: 10000 !important;
  position: fixed;
  width: 100%;
  right: 55px;
  bottom: 30px;
  display: flex;
  justify-content: right;
  pointer-events: none;
}

#logos {
  max-height: 50px;
  pointer-events: none;
  width: auto;
  max-width: 85%;
}

@media (max-width: 650px) {
  #logos {
      height: 25px;
  }

  #footer {
    font-size: 11px;
  }
}

@media (max-width: 486px) {
  #stakeholders-frame {
    margin-bottom: 12px !important;
  }
}

a {
  color: white;
}
