<body>
    <div id="main-frame">
      <div class="container">
        <img src="/home/assets/rnp1.png" alt="WRNP logo" id="event-logo">
      </div>
      <div id="subtitle">Escolha qual mapa visualizar</div>
      <div class="collection-frame">
        <a class="map-frame" id="map1"  routerLink="/map/1" routerLinkActive="active">
          <svg class="map-img">
            <image xlink:href="/home/assets/projetos-icon.png" class="map-img"/>
          </svg>
          <div class="map-title">Sistema RNP</div>
        </a>
        <a class="map-frame" id="map1"  routerLink="/map/2" routerLinkActive="active">
          <svg class="map-img">
            <image xlink:href="/home/assets/evento-icon.png" class="map-img"/>
          </svg>
          <div class="map-title">Laboratório Multiusuário</div>
        </a>
        <a class="map-frame" id="map1"  routerLink="/map/3" routerLinkActive="active">
          <svg class="map-img">
            <image xlink:href="/home/assets/observatorio.png" class="map-img"/>
          </svg>
          <div class="map-title">Observatório Blockchain</div>
        </a>
        <a class="map-frame" id="map2"  routerLink="/map/4" routerLinkActive="active">
          <svg class="map-img">
            <image xlink:href="/home/assets/blockchain.png" class="map-img"/>
          </svg>
          <div class="map-title">Iniciativas de Cybersegurança</div>
        </a>
      </div>
    </div>
    <div id="logos-frame">
      <img src="/home/assets/logos.png" width="70%">
    </div>
  </body>
  