<body>
    <div id="main-frame">
      <div class="container">
        <img src="/assets/bg-evento.png" alt="WRNP logo" id="event-logo">
      </div>
      <div id="subtitle">Escolha qual mapa visualizar</div>
      <div class="collection-frame">
        <a class="map-frame" id="map1"  routerLink="/map/1" routerLinkActive="active">
          <svg class="map-img">
            <image xlink:href="/assets/projetosBrasil.svg" class="map-img"/>
          </svg>
          <div class="map-title">Projetos no Brasil</div>
        </a>
        <a class="map-frame" id="map2"  routerLink="/map/2" routerLinkActive="active">
          <svg class="map-img">
            <image xlink:href="/assets/mapaEvento.svg" class="map-img"/>
          </svg>
          <div class="map-title">Mapa do evento</div>
        </a>
      </div>
    </div>
    <div id="logos-frame">
      <img src="/assets/logos.png" width="70%">
    </div>
  </body>
  